<h1>Realtime Search</h1>
<%= form_with url: search_queries_path, method: :post, local: true do %>
  <%= text_field_tag :query_text, nil, placeholder: "Enter your search..." %>
  <%= submit_tag "Search" %>
<% end %>

  

<script>
  let timeout;
  let previousValue = '';

  document.getElementById('searchBox').addEventListener('input', function (e) {
    const currentValue = e.target.value;

    clearTimeout(timeout);

    timeout = setTimeout(() => {
      if (currentValue.trim() && currentValue !== previousValue) {
        previousValue = currentValue;

        fetch('/search_queries', {
          method: 'POST',
          headers: {
            'Content-Type': 'application/json',
            'X-CSRF-Token': document.querySelector("meta[name='csrf-token']").content
          },
          body: JSON.stringify({ query_text: currentValue })
        });
      }
    }, 300);
  });
</script>

<h2>Top Searches</h2>
<ul>
  <% @top_queries.each do |query, count| %>
    <li><%= query %> — <%= count %> searches</li>
  <% end %>
</ul>
